html {
  background-color: #c9b5ab;
  font-family: "PT serif", serif;
  line-height: 1.5;
}

h1,
h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ol {
list-style-type: none;
}

nav a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 100%;

}

figcaption {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

figure + p {
  font-weight: bold;
  font-size: 1.25rem;
}

blockquote p {
  font-style: italic;
  font-size: 1.5rem;
}

strong {
  font-weight: normal;
}

blockquote cite {
  font-size: 0.8rem;
}

h2 + ol {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}

ul li {
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}
